body {
    background-color: blue;
}

.title {
    background-color: white;
}

div {
    text-align: center;
}

.type {
    background-color: red;
}

.info {
    background-color: gold;
}

.details {
    text-align: center;
}